@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
  }

  body {
    font-size: 16px;
    margin: 0;
  }
}

@layer utilities {
  /*Add custom class here and use it in className. It will be support by Tailwind modifiers such as hover, focus...*/
}

@layer components {
  /*Use to extract class to re-use TailwindCSS class and make it DRY*/
}
#main-content {
  /*Max height minus the height of header*!*/
  height: calc(100vh - 64px);
}

.boxShadow {
  @apply shadow-[0px_-1px_4px_0px_rgba(0,0,0,0.03),0px_1px_2px_0px_rgba(0,0,0,0.03),0px_1px_6px_-1px_rgba(0,0,0,0.02),0px_2px_4px_0px_rgba(0,0,0,0.02)] rounded-[1.6rem];
  background: #fff;
}

.boxShadowSecondary {
  @apply shadow-[0px_6px_16px_0px_rgba(0,0,0,0.04),0px_3px_6px_-4px_rgba(0,0,0,0.06),0px_9px_28px_8px_rgba(0,0,0,0.02)] rounded-[1.6rem];
  background: #fff;
}
.boxShadowTertiary {
  @apply shadow-[0px_1px_2px_0px_rgba(0,0,0,0.03),0px_1px_6px_-1px_rgba(0,0,0,0.02),0px_2px_4px_0px_rgba(0,0,0,0.02)] rounded-[1.6rem];
  background: #fff;
}


/* Iconsax border */
.stroke-medium path {
  stroke-width: 1.5px !important;
}