.grid-dropdown .ant-dropdown-menu{
    display: flex  !important;
    flex-direction: column !important;
    gap: 4px !important;
}
.grid-dropdown .ant-input{
    box-shadow: none !important;

}
.grid-view-dropdown{
  width: 320px !important;
}
.grid-filter-dropdown .ant-input::placeholder{
    color: #101828 !important;
}
.grid-filter-dropdown .ant-select{
    width: 120px;
    height: 30px ;

}
.grid-filter-dropdown .ant-select-selector{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.ant-select-dropdown  .ant-input{
    box-shadow: none !important;
    border: none !important;
    padding:  0 8px !important;
    height: 36px !important;
}
.ant-select-dropdown  .ant-input::placeholder{
    color: #6A758B !important;
}

.filter-select{
    padding: 12px !important;
    border-radius: 8px !important;
}
.filter-select .ant-select-item-option{
    padding: 7px 8px !important;
    border-radius: 4px !important;
    height: 32px !important;
}

.filter-select .ant-select-item-option-content{
    display: flex !important;
    align-items: center !important;
}
.filter-select .rc-virtual-list-holder-inner{
    display: flex !important;
    flex-direction: column !important;
    gap: 4px !important;
}


/* add-conditions-dropdown */

.add-conditions-dropdown .ant-dropdown-menu{

    display: flex  !important;
    flex-direction: column !important;
    gap: 4px !important;
}


/* sort-select-dropdown */
.sort-select-dropdown .ant-select-item{
    padding: 0px 8px !important;
    border-radius: 4px !important;
    height: 32px !important;
    display: flex;
    align-items: center;    
}
.sort-select-dropdown .rc-virtual-list-holder-inner{
    display: flex !important;
    flex-direction: column !important;
    gap: 4px !important;

}
.sort-select-dropdown{
    padding: 12px !important;
    border-radius: 8px !important;
}

.sort-select{
    min-width: 146px;
    height: 36px !important;

}
.sort-by-select{
    min-width: 226px;
    height: 36px !important;
}
.sort-select .ant-select-selector , .sort-by-select .ant-select-selector{
    border: 1px solid #EDEDED!important;
    box-shadow: none !important;
}

/* Share dropdown */
.grid-share-dropdown {
    width: 480px !important;
}
.grid-share-dropdown .ant-dropdown-menu-item:hover{
    background-color: white !important;
} 
.grid-share-dropdown .ant-dropdown-menu-item-active:not(.ant-dropdown-menu-item-disabled) .ant-dropdown-menu-title-content:hover{

    background-color: white !important;
}

/* Color Dropdown */
.color-field-select{
    width: auto;
    height: 32px ;

}
.color-field-select .ant-select-selector{
    border: none !important;
    background: #E0F2FE !important;
    color:#026AA2 !important
}
.color-field-select .ant-select-selection-item{
    padding-right: 26px !important;
}
.color-field-select .ant-select-arrow{
    color: #026AA2 !important;
    margin-left: 8px !important;
}
.color-field-select-dropdown{
    width: 350px !important;
    padding: 12px !important;
    border-radius: 8px !important;
}